.cart-container {
    padding: 2vh 10vh;
    gap: 5px;
    color: #07404B;
    background: #83C5BE;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
}

.cart-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0;
}
.cartItemButton{
    color: #83C5BE;
    background: #07404B;
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    padding: 0 2px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
}
.cart-item {
    padding: 5px;
    border-top: 1px solid #07404B;
    display: flex;
    align-items: center;
}

.cart-item-img {
    width: 100px;
    margin-right: 20px;
}

.cart-item-info {
    flex: 1;
}

.cart-sumary{
    gap: 5px;
}

.remove-item-button, .clear-cart-button, .checkout-button {
    margin-top: 10px;
}
.cartSpam {
    color: #07404B;
    background: #83C5BE;
}