.item-detail{
    padding: 5vh 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #07404B;

    /* var(#07404B)
    var(#83C5BE) */
}

.item-detail h2{
    font-size: 32px;
}

.item-content{
    padding-top: 5vh;
    display: flex;
    gap: 5%;
}

.item-content img{    
    width: auto;
    height: 300px; 
    border-radius: 5px;
}

.item-info{
    font-size: 22px;
    font-weight: 600;
}