.itemListContainer {
    min-height: 85vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2vh 10vh;;
    color: #07404B;
    gap: 5px;

}
.itemListContainer h1 {
    width: 100%;
}